@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

h1 {
  font-size: 102px;
  line-height: 100px;
  font-weight: 700;
  color: white;
  font-style: normal;
}
/* Catalog Name*/
h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
}
/* "The most secure page" */
h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: capitalize;
}

/* ProductName */
h4 {
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  color: white;
}

p {
  font-size: 10px;
  color: white;
 }

button {
  color: white;
  width: 185px;
  height: 48px;
  background: #E55B13;
  border-radius: 80px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  border-color: #E55B13;
}

.section-p1 {
  padding: 40px 80px;
 }

 body {
  width: 100%;
  background-color: #010922;
  overflow-x: hidden;
 }

 /* Header starts here */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background: linear-gradient(180deg, rgba(229, 91, 19, 0.5) 0%, rgba(229, 91, 19, 0) 100%);
  box-shadow: 0 5px 0px white;
  z-index: 999;
  top: 0;
  left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}


#navbar li a{
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: white;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: orange;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width:30%;
  height: 2px;
  background: orange;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#lg-bag {
  display: none;
}

/* Header starts here */

#cat{
  margin: 10px 80px;
  position: absolute;
  display: flex;
}

#cat .cat2{
  position: relative;
  width: 1350px;
  height: 200px;
  left: 190px;
  top: 0px;
}

#cat .catimg {
  position: absolute;
  width: 350px;
  height: 200px;
}

#cat .action {
  position: absolute;
  width: 350px;
  height: 200px;
}

#cat .casual {
  position: absolute;
  width: 350px;
  height: 200px;
  margin-left: 420px;
}

#cat .coop {
  position: absolute;
  width: 350px;
  height: 200px;
  margin-left: 820px;
}

#cat .coop :hover {
  background: rgba(0, 0, 0, 0.3);
  border: 4px solid #E55B13;
  border-radius: 20px;
  transition: 0.2s ease;
}

#cat .action :hover {
  background: rgba(0, 0, 0, 0.3);
  border: 4px solid #E55B13;
  border-radius: 20px;
  transition: 0.2s ease;
}

#cat .casual :hover {
  background: rgba(0, 0, 0, 0.3);
  border: 4px solid #E55B13;
  border-radius: 20px;
  transition: 0.2s ease;
}





/* Downbar starts here */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 2367px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 19.27%, rgba(0, 0, 0, 0.3) 23.96%, rgba(0, 0, 0, 0.3) 29.17%, rgba(0, 0, 0, 0.3) 54.17%, rgba(229, 91, 19, 0.5) 100%);
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

footer .col2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

footer .col3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

footer .logo {
  margin-bottom: 5px;
}

footer h5 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 5px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}

footer .follow {
  margin-top: 10px;
}

footer .follow i {
  color: #FFFFFF;
  padding-right: 8px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #E55B13;
  border-radius: 12px;

}

footer .install img {
  margin: 5px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #E55B13;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer strong {
  font-weight: 600;
  letter-spacing: 1px;
}