@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

h1 {
  font-size: 102px;
  line-height: 100px;
  font-weight: 700;
  color: white;
  font-style: normal;
}
/* Catalog Name*/
h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
}
/* "The most secure page" */
h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: capitalize;
}

/* ProductName */
h4 {
  font-weight: 600;
  font-size: 21px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  color: white;
}

p {
  font-size: 10px;
  color: white;
 }

button {
  color: white;
  width: 185px;
  height: 48px;
  background: #E55B13;
  border-radius: 80px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  border-color: #E55B13;
}

 .section-p1 {
  padding: 40px 80px;
 }

.section-m1 {
  margin: 40px 0;
 }


body {
  width: 100%;
  background-color: #010922;
  overflow-x: hidden;
 }

/* Header starts here */

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  background: linear-gradient(180deg, rgba(229, 91, 19, 0.5) 0%, rgba(229, 91, 19, 0) 100%);
  box-shadow: 0 5px 0px white;
  z-index: 999;
  top: 0;
  left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}


#navbar li a{
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  color: white;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: orange;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width:30%;
  height: 2px;
  background: orange;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

#lg-bag {
  display: none;
}


/* Home Page */

#hero{
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 60px 150px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h1{
  padding-bottom: 15px;
}

#hero h3{
  padding-bottom: 15px;
}

#hero .startgaming{
color: white;
width: 187px;
height: 50px;
background: #E55B13;
border-radius: 80px;
font-weight: 600;
font-size: 22px;
background-repeat: no-repeat;
text-transform: uppercase;
cursor: pointer;
}

#hero .startgaming:hover {
  width: 190px;
  height: 52px;
  font-size: 24px;
  transition: 0.2s ease;
  border: 3px solid #FFFFFF;
}

#hero .biglogo {
  width: 900px;
  height: 500px;
  position: absolute;
  top: 220px;
  left: 850px;
  cursor: pointer;
}

/* most popular */

#product1 .star{
  color: #E55B13
}

#product1 {
  margin: 10px 50px;
  position: absolute;
  top: 760px;
}

#product1 .mostpopular{
  padding-left: 15px;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

#product1 img{
  width: 100%;
  border-radius: 6px;
}

#product1 .pro {
  width: 15%;
  min-width: 250px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  flex-wrap: wrap;
}

#product1 .pro:hover{
  box-shadow: 2px 2px 20px 2px white ;
}

#product1 .pro .money {
  color: white;
  position: absolute;
  right: 12px;
  bottom: 30px;
}

#product1 .loadmore {
  color: white;
  width: 185px;
  height: 48px;
  background: #E55B13;
  border-radius: 80px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  left: 40%;
  top: 460px;
}

#product1 .loadmore:hover {
  width: 190px;
  height: 52px;
  font-size: 22px;
  transition: 0.2s ease;
  border: 3px solid #FFFFFF;
}

/* Latest Relase  */

#product2 .star{
  color: #E55B13
}

#product2 {
  margin: 10px 50px;
  position: absolute;
  top: 1300px;
}

#product2 .mostpopular{
  padding-left: 15px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  color: white;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

#product2 img{
  width: 100%;
  border-radius: 6px;
}

#product2 .pro {
  width: 15%;
  min-width: 250px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s ease;
  position: relative;
}

#product2 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  flex-wrap: wrap;
}

#product2 .pro:hover{
  box-shadow: 2px 2px 20px 2px white ;
}

#product2 .pro .money {
  color: white;
  position: absolute;
  right: 12px;
  bottom: 30px;
}

#product2 .loadmore {
  color: white;
  width: 185px;
  height: 48px;
  background: #E55B13;
  border-radius: 80px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  left: 40%;
  top: 460px;
}

#product2 .loadmore:hover {
  width: 190px;
  height: 52px;
  font-size: 22px;
  transition: 0.2s ease;
  border: 3px solid #FFFFFF;
}

 /* Banner starts here */

#banner {
  margin: 10px 80px;
  position: absolute;
  top: 1850px;
  display: flex;
}

#banner .ad {
  position: relative;
  width: 1600px;
  height: 400px;
  left: 0px;
  top: 0px;
}

#banner .discount {
   font-weight: 600;
   font-size: 55px;
   line-height: 55px;
   letter-spacing: 0.165em;
   text-transform: uppercase;
   text-decoration: none;
   color: #FFFFFF;
   font-family: 'Outfit';
   font-style: normal;
   transition: 0.2s ease;
   position: absolute;
   text-align: center;
   margin-left: 2px;
   margin-top: 100px;
}

#banner .bannerimg {
   width: 700px;
   height: 400px;
   position: absolute;
   left: 900px;
   margin-top: 0px;
}

#banner :hover {
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid #E55B13;
  border-radius: 20px;
  transition: 0.2s ease;
}


/* Explore Catalog Starts Here */

#catalog {
  margin: 10px 100px;
  position: absolute;
  top: 2300px;
}

#catalog .te {
  position: relative;
  width: 1500px;
  height: 300px;
  left: 0px;
  top: 0px;
}

#catalog .catalogimg {
   width: 800px;
   height: 300px;
   margin-top: 0px;
}

#catalog .explore {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  position: absolute;
  letter-spacing: 3px;
  margin-left: 850px;
  top: 50px;
}

#catalog .browse {
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  position: absolute;
  letter-spacing: 2px;
  margin-left: 852px;
  top: 105px;

}

#catalog .button {
  justify-content: center;
  align-items: center;
  width: 235px;
  height: 48px;
  font-weight: 600;
  font-size: 21px;
  position: absolute;
  margin-left: 50px;
  top: 185px;
}


#catalog .button:hover {
  border: 3px solid #FFFFFF;
  width: 240px;
  height: 52px;
  font-size: 23px;
  transition: 0.2s ease;
}

#catalog .browseipad {
  display: none;
}

/* Newsletter starts here */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 2995px;
  padding-left: 200px;
  height: 20vh;
  width: 100%;
}

#newsletter h1 {
  font-size: 32px;
  font-weight: 700; 
  color:#FFFFFF;
}

#newsletter p {
  font-size: 18px;
  font-weight: 600; 
  color: #FFFFFF;
}

#newsletter p span {
  color:#E55B13;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter input {
  height: 3.932rem;
  padding: 0 1.25em;
  font-size: 22px;
  width: 80%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #E55B13;
  border-color: #E55B13;
  color: white;
  white-space: nowrap;
  width: 160px;
  height: 64px;
  border-radius: 80px;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  right: 110px;
}



/* Downbar starts here */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 2565px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 19.27%, rgba(0, 0, 0, 0.3) 23.96%, rgba(0, 0, 0, 0.3) 29.17%, rgba(0, 0, 0, 0.3) 54.17%, rgba(229, 91, 19, 0.5) 100%);
}

footer .col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

footer .col2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

footer .col3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}

footer .logo {
  margin-bottom: 5px;
}

footer h5 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 5px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: white;
  margin-bottom: 5px;
}

footer .follow {
  margin-top: 10px;
}

footer .follow i {
  color: #FFFFFF;
  padding-right: 8px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #E55B13;
  border-radius: 12px;

}

footer .install img {
  margin: 5px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: #E55B13;
}

footer .copyright {
  width: 100%;
  text-align: center;
}

footer strong {
  font-weight: 600;
  letter-spacing: 1px;
}





/* Media Query Starts Here */

@media (max-width:799px) {

  .section-p1 {
    padding: 40px 5px;
   }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 200px;
    background: #010922;
    box-shadow: 0 5px 0px white;
    padding: 85px 0 0 10px;
    transition: 0.3;
  }

  #navbar.active{
    right: 0px;
    z-index: 1;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #navbar .bar {
    color: #FFFFFF;
    background-color: #FFFFFF;
  }

  #mobile {
    display: flex;
    align-items: center;
  }

  #mobile i{
    color: #FFFFFF;
    font-size: 24px;
    padding-left: 20px;
  }

  #close {
    display: initial;
    position: absolute;
    color: #FFFFFF;
    font-size: 24px;
    top: 30px;
    left: 30px;
  }

  #lg-bag {
    display: none;
  }

  /* Hero Starts Here */

  #hero{
    height: 70vh;
    background-position: top 30% right 30;
    padding: 20px 80px;
  }

  #hero h1{
    font-size: 60px;
    line-height: 60px;
  }
  
  #hero h3{
    padding-bottom: 15px;
    font-size: 18px;
  }
  
  #hero .startgaming{
  color: white;
  width: 150px;
  height: 40px;
  background: #E55B13;
  border-radius: 80px;
  font-weight: 600;
  font-size: 16px;
  background-repeat: no-repeat;
  text-transform: uppercase;
  cursor: pointer;
  }
  
  #hero .startgaming:hover {
    width: 190px;
    height: 50px;
    font-size: 22px;
    transition: 0.2s ease;
    border: 3px solid #FFFFFF;
  }
  
  #hero .biglogo {
    width: 434px;
    height: 279px;
    position: absolute;
    top: 195px;
    left: 304px;
    cursor: pointer;
  }

/* Most Popular Starts Here */
   #product1 {
  top: 560px;
}

  #product1 .pro {
  width: 15%;
  min-width: 210px;
  padding: 10px 14px;
  transition: 0.2s ease;
  position: relative;
     }

  #product1 .pro-container{
  justify-content: center;
    }

   #product1 .loadmore {
  top: 720px;
  left: 220px;
   }

   /* Latest Relase Starts Here */
   #product2 {
    top: 1325px;
  }

  #product2 .pro {
    width: 15%;
    min-width: 210px;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s ease;
    position: relative;
  }

  #product2 .pro-container{
    justify-content: center;
  }

  #product2 .loadmore {
    top: 720px;
    left: 220px;
  }

  /* Banner Starts Here */

  #banner {
    margin: 10px 38px;
    position: absolute;
    top: 2120px;
  }

  #banner .ad {
    position: relative;
    width: 550px;
    height: 420px;
    left: 0px;
    top: 0px;
  }
  
  #banner .discount {
   font-size: 25px;
   line-height: 30px;
   position: absolute;
   margin-left: 155px;
   margin-top: 2px;
  }
  
  #banner .bannerimg {
     width: 550px;
     height: 280px;
     position: absolute;
     border-radius: 13px;
     left: 60px;
     margin-top: 115px;
     
  }

  /* Catalog Starts Here */

  #catalog .pro {
    display: none;
  }

  #catalog .explore {
    display: none;
  }

  #catalog .browse {
    display: none;
   }

  #catalog {
    margin: 10px 40px;
    position: absolute;
    top: 2570px;
  }

  #catalog .te{
    position: relative;
    width: 590px;
    height: 450px;
    left: 40px;
    top: 0px;
   }

  #catalog .catalogimg {
    display: initial;
    position: absolute;
    width: 580px;
    left: 12px;
    bottom: 250px;
    margin-top: 2px;
  }

  #catalog .button {
    width: 235px;
    height: 48px;
    position: absolute;
    margin-top: 220px;
    left: 170px;
  }
   
   #catalog .browseipad {
     display: initial;
     font-style: normal;
     font-weight: 100;
     font-size: 15px;
     line-height: 15px;
     color: white;
     position: absolute;
     margin-top: 275px;
     left: 150px;
   }


/* NewsLetter Starts Here */

  #newsletter {
  top: 3000px;
  padding-left: 100px;
  height: 20vh;
  width: 100%;
}

#newsletter .newstext {
  position: relative;
  bottom: 25px;
}

#newsletter h1 {
  font-size: 30px;
  line-height: 50px;
}

#newsletter p {
  font-size: 18px;
  font-weight: 600; 
  color: #FFFFFF;
}

#newsletter p span {
  color:#E55B13;
}

#newsletter .form {
  display: flex;
  width: 70%;
}

#newsletter button {
  width: 160px;
  height: 65px;
  left: 458px;
  top: 111.8px;
}

/* footer starst here */

footer .logo {
  display: none;
}

footer {
  top: 2300px;
}

footer .col{
  margin-bottom: 5px;
  margin-top: -25px;
  margin-left: 5px;
}

footer .col2{
  margin-top: -25px;
  margin-left: 3px;
}

footer .col3{
  margin-top: -25px;
  margin-left: 3px;
}

footer .install {
  margin-left: 10px;
}

footer h5 {
  font-size: 14px;
  padding-bottom: 20px;
}

 footer p {
  font-size: 11px;
  margin: 0 0 3px 0;
 }

 footer a {
  font-size: 13px;
  margin-bottom: 8px;
 }

 footer .install img {
  width: 40%;
 }

 footer strong {
  font-weight: 600;
  letter-spacing: 2px;
 }  
}

/*          */

@media (max-width: 477px) {

  .section-p1 {
    padding: 10px 1px;
   }

  #header {
    padding: 10px 20px;
  }

  #header img {
    width: 120px;
    height: 70px;
  }

  /*Hero Starts Here */

  #hero{
    height: 21vh;
    background-position: top 30% right 30;
    padding: 20px 25px;
  }

  #hero h1{
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 7px;
  }
  
  #hero h3{
    font-size: 10px;
    line-height: 10px;
    padding-bottom: 8px;
    letter-spacing: 0.9px;
  }
  
  #hero .startgaming{
  width: 90px;
  height: 25px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.9px;
  }
  
  #hero .startgaming:hover {
    width: 95px;
    height: 35px;
    font-size: 12px;
    transition: 0.2s ease;
    border: 3px solid #FFFFFF;
  }
  
  #hero .biglogo {
    width: 180px;
    height: 100px;
    position: absolute;
    top: 110px;
    left: 195px;
  }


/* Most Popular Starts Here */
   #product1 {
   margin: 10px 10px;
   top: 270px;
}

  #product1 .pro {
   width: 15%;
   min-width: 110px;
   padding: 5px 8px;
   position: relative;
     }

  #product1 .pro-container{
     justify-content: center;
     padding-top: 5px;
    }

   #product1 .loadmore {
    width: 109px;
    height: 28px;
    font-size: 13px;
    top: 350px;
    left: 124px;
   }

   #product1 .mostpopular{
    padding-left: 13px;
    font-size: 13px;
    line-height: 5px;
    letter-spacing: 1px;
  }

  #product1 h4 {
    font-size: 8px;
    line-height: 8px;
    letter-spacing: 2px;
  }

  #product1 .star{
    font-size: 8px;
  }

  #product1 .pro .money {
    position: absolute;
    right: 10px;
    bottom: 15.1px;
    font-size: 7.5px;
    font-weight: 600;
  }

   /* Latest Relase Starts Here */
   #product2 {
    margin: 10px 10px;
    top: 670px;
 }
 
   #product2 .pro {
     width: 15%;
     min-width: 110px;
     padding: 5px 8px;
     position: relative;
    }
 
   #product2 .pro-container{
      justify-content: center;
      padding-top: 5px;
     }
 
    #product2 .loadmore {
      width: 109px;
      height: 28px;
      font-size: 13px;
      top: 350px;
      left: 124px;
    }
 
    #product2 .mostpopular{
     padding-left: 13px;
     font-size: 13px;
     line-height: 5px;
     letter-spacing: 1px;
   }
 
   #product2 h4 {
     font-size: 8px;
     line-height: 8px;
     letter-spacing: 2px;
   }
 
   #product2 .star{
     font-size: 8px;
   }
 
   #product2 .pro .money {
     position: absolute;
     right: 10px;
     bottom: 15.1px;
     font-size: 7.5px;
     font-weight: 600;
   }

     /* Banner Starts Here */

   #banner {
    margin: 3px 12px;
    position: absolute;
    top: 1070px;
  }

  #banner .ad {
    position: relative;
    width: 350px;
    height: 240px;
    left: 0px;
    top: 0px;
  }
  
  #banner .discount {
   font-size: 15px;
   line-height: 17px;
   position: absolute;
   margin-left: 75px;
   margin-top: 10px;
  }
  
  #banner .bannerimg {
     width: 280px;
     height: 150px;
     position: absolute;
     border-radius: 13px;
     left: 35px;
     margin-top: 75px;
     
  }

  /* Catalog Starts Here */

  #catalog .pro {
    display: none;
  }

  #catalog .explore {
    display: none;
  }

  #catalog .browse {
    display: none;
   }

  #catalog {
    margin: 3px 10px;
    position: absolute;
    top: 1320px;
  }

  #catalog .te{
    position: relative;
    width: 320px;
    height: 250px;
    left: 30px;
    top: 0px;
   }

  #catalog .catalogimg {
    display: initial;
    position: absolute;
    width: 300px;
    left: 1px;
    top: 0px;
  }

  #catalog .button {
    font-size: 13px;
    position: absolute;
    width: 150px;
    height: 40px;
    margin-top: 120px;
    left: 80px;
  }
   
   #catalog .browseipad {
     display: initial;
     font-style: normal;
     font-weight: 100;
     font-size: 10px;
     line-height: 5px;
     position: absolute;
     margin-top: 170px;
     left: 69px;
   }


/* NewsLetter Starts Here */

  #newsletter {
   top: 1500px;
   padding-left: 50px;
   height: 17vh;
   width: 100%;
  }

  #newsletter .newstext {
  position: relative;
  bottom: 10px;
  }

  #newsletter h1 {
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 8px;
  }

  #newsletter p {
  font-size: 10px;
  font-weight: 600; 
  color: #FFFFFF;
  }

  #newsletter .form {
  display: flex;
  width: 100%;
  }  

  #newsletter input {
    height: 1.932rem;
    padding: 0 0.25em;
    font-size: 14px;
    width: 80%;
  }

  #newsletter button {
  width: 55px;
  height: 32px;
  left: 278px;
  top: 72.2px;
  font-size: 12px;
  }

/* footer starst here */

footer .logo {
  display: none;
}

footer {
  top: 1414px;
}

footer .col{
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 5px;
}

footer .col2{
  margin-top: 10px;
  margin-left: 3px;
}

footer .col3{
  margin-top: 10px;
  margin-left: 3px;
}

footer .install {
  margin-left: 10px;
}

footer .install h5 {
  padding-bottom: 10px;
}

footer .follow h5 {
  padding-bottom: 10px;
}

footer h5 {
  font-size: 14px;
  padding-bottom: 20px;
}

 footer p {
  font-size: 11px;
  margin: 0 0 3px 0;
 }

 footer a {
  font-size: 13px;
  margin-bottom: 8px;
 }

 footer .install img {
  width: 40%;
 }

 footer strong {
  font-weight: 600;
  letter-spacing: 2px;
 }
  
}


